<div class="modal fade" id="excludeAccountModal" tabindex="-1" role="dialog" aria-labelledby="excludeAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <br><br>
        <p><i class="fad fa-user-times fa-4x"></i></p> 
        <h4><b>Deseja mesmo apagar a sua conta?</b></h4>
        <h6 class="form-text text-muted">Essa ação não pode ser desfeita e suas tarefas serão excluídas.</h6>
        <div class="col">
          <%= button_to "Sim", registration_path(resource_name), class: 'btn-alert', method: :delete, class: 'btn-third' %>
          <button type="button" class="btn-fourth" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
