<div class="modal fade" id="reallyDestroyAllTasksModal" tabindex="-1" role="dialog" aria-labelledby="reallyDestroyAllTasksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <br><br>
        <p><i class="fad fa-trash fa-4x"></i></p> 
        <h4><b>Deseja mesmo remover todas as tarefas?</b></h4>
        <h6 class="form-text text-muted">Essa ação não pode ser desfeita e limpará sua lista de tarefas.</h6>
        <div class="flex-row">
          <button type="button" class="btn-third btn-dark-third modal-button" data-dismiss="modal">Não</button>
          <%= button_to "Sim", destroy_all_tasks_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
