<div class="modal fade" id="reallyDestroyTaskModal<%= id %>" tabindex="-1" role="dialog" aria-labelledby="reallyDestroyTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <br><br>
        <p><i class="fad fa-trash fa-4x"></i></p> 
        <h4><b>Deseja mesmo remover esta tarefa?</b></h4>
        <h6 class="form-text text-muted">Essa ação não pode ser desfeita.</h6>
        <div class="col mt-3">
          <%= button_to "Sim", really_destroy_task_path(id: id), method: :delete, class: 'btn-third' %>
          <button type="button" class="btn-fourth" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
