<div class="flex-column m-5">
  <% content_for :title, "Criar tarefa | Fando" %>
  <p><i class="fad fa-tasks fa-3x"></i></p>
  <h2><b>Editar tarefa</b></h2>
  <h6 class="form-text text-muted">Preencha os dados abaixo para editar a tarefa.</h6>
  <br>
  <%= render partial: "form" %>
  <div class="text-center">
    <%= button_to "Voltar", tasks_path, method: :get, class: "btn-fourth" %>
  </div>
</div>