<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <br><br>
        <p><i class="fad fa-door-open fa-4x"></i></p> 
        <h4><b>Deseja mesmo sair?</b></h4>
        <h6 class="form-text text-muted">Fica, vai ter bolo...</h6>
        <div class="col mt-3">
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'btn-third' %>
          <button type="button" class="btn-fourth" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
