::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.div-home {
  background-color: #FFF;
  border-radius: 10px;
  margin: 20px;
}

.div-opts-task, .user-opt {
  display: none;
}

.div-header {
  display: flex; 
  justify-content: space-between;
}

.angle-user, .angle-task {
  transition: all ease-in-out .20s;
}

.flip {
  transform: rotate(-180deg);
  color: #818181;
}

@media screen and (min-width: 1275px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    margin: 0px 100px 0px 100px;
  }

  .div-home {
    max-width: 600px;
  }

  .div-info {
    position: sticky;
    top: 0;
    width: 500px;
  }
  
  .div-tasks {
    width: 600px;
  }

  .btn-create-task {
    width: 405px;
  }

  .trash-can-task {
    width: 600px;
  }
}

input, textarea, select {
  transition: 0.3s;
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid #B6B5B5;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.task-important {
  background-color: #bb2205;
  border-radius: 100px;
  width: 60px;
  height: 10px;
}

.btn-first {
  background-color: #318fb5;
  border: 2px solid;
  color: #FFF;
  transition: 0.3s;
}

.btn-second {
  background-color: #ec524b;
  border: 2px solid;
  color: #FFF;
  transition: 0.3s;
}

.btn-third {
  background-color: #383838;
  border: 2px solid;
  color: #FFF;
}

.btn-fourth {
  background-color: #dfdfdf;
  border: none;
  color: #000;
}

.btn-exit-modal {
  background-color: #262626;
  width: 120px;
}

.btn-create-task {
  background-color: #262626;
}

.btn-goBack {
  background-color: #B6B5B5;
  color: #000;
}

.btn-login {
  background-color: #262626;
  color: #FFF;
}

.btn-login:hover {
  transition: all ease-in-out .15s;
  background-color: #141414;
  color: #FFF;
}

input[type=text]:hover, input[type=datetime-local]:hover, textarea:hover {
  transition: all ease-in-out .15s;
  border: 1px solid black;
}

select {
  background-color: #FFF;
}

select:hover {
  transition: 0.3s;
  border: 1px solid black;
}

.btn-first:hover {
  transition: 0.3s;
  background-color: #236883;
  color: #FFF;
}

.btn-second:hover {
  transition: 0.3s;
  background-color: #b43f39;
  color: #FFF;
}

.btn-third:hover {
  transition: 0.3s;
  background-color: #000;
  color: #FFF;
}

.btn-fourth:hover {
  transition: 0.3s;
  background-color: #B6B5B5;
}

.modal-button {
  width: 120px;
}

.modal-textarea {
  width: 100%;
  border: 0;
}

.trash-can-task {
  transition: 0.3s;
  margin: 25px 0px 25px 0px;
  border: 2px solid #d9d9d9;
  padding: 20px;
  border-radius: 10px;
}

.empty-trash {
  margin: 120px 60px 120px 60px;
  text-align: center;
}

.error-explanation {
  background-color: #e7e7e7;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px;
}
